@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
body {
  background-color: #065f46;
}

.main {
  flex-direction: column;
  justify-content: center;
  justify-items: center; 
}

.right_menu {
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
}
